@media screen and (min-width:320px) and (max-width:570px){


    .sonu{
        display: none;
        width: unset;
        height: unset;
    }
    .ajay{
        flex-direction: column;
    }
    .vijay
    {
    flex-direction: column;
    flex-direction: row;
    /* position: unset; */
    padding: unset;
    }
   
    .btn1{
        margin-top: 100px;
    }
   
    .rahul {
        width: unset;
        flex-direction: column;
    }
    .rahul{
        width: unset;
        height: 852px;
    }
    .manoj
    {
        width: unset;
        height: unset;
        
    }
  
    .mahul h1
    {
padding: unset;
margin: unset;
    }
    .ciku
{
    width: unset;
    height: unset;
    margin: 20px;
}
.ciku h1
{
    padding: unset;
}
.anu h2
{
    padding:10px 0px 10px 0px;
    margin: unset;
}
.anu p
{
    text-align: center;
    margin: 10px;
    padding: unset;
}
.amit p {
    padding: unset;
    margin: 29px 0px 0px 0px;
}
    
    .aman
    {
flex-direction: column;
    }
    .pankaj
    {
        flex-direction: column;
        margin: unset;
    
    }
    
    .suraj{
        width: unset;
        height: unset;
        margin: auto;
        
    }
    .ajit
    {
        width: unset;
    height: unset;
    padding:unset;
    }
 .rohit
{

    margin: 0 0 10px 0;
    padding: unset;
    width: unset;
    text-align: center;
    /* height: 400px; */

}
.rohit p{
    width: unset;
    text-align: center;
    padding: unset;
}
.anju
{
    width: unset;
    height: unset;
    margin: auto;
    margin: 10px 0px 20px 0px;
}
.tajal
{
    height: unset;
    width: unset;
}
.jetu
{
    flex-direction: column;
    height: unset;
    width: unset;
    margin: unset;
    padding: 10px 0px 10px 0px;
}
.jetu1
{
    flex-direction: column;
}
.alu {
 width: unset;
 height: unset;
 margin: 15px 0px 0px 0px;
 padding: unset;
}
.anil
{
  width: unset;
  height: unset;
    margin: 10px 0;
}
.komal
{ width: unset;
    height: unset;
}
.sandeep
{
    width: unset;
    /* height: 397px; */
    padding: unset;
    margin: unset;
}
.peeu img {
width: 100%;

}
.peeu{
    width: unset;
}


    .venit img
    {
margin:unset;

    }
    
    
.mahul h1
    {
       margin:auto;
    }
    .rajender 
    {
        flex-direction: column;
    }
    .parveen
    {
        width: unset;
    height: unset;
    padding: unset;

    }
    .lelu
    {
        height: unset;
    }
    .tetimonials{
        height: unset;
    }
    .asha{
        padding: unset;
    }
    .india
    {
    flex-direction: column;
    }
    .call
    {
        width: unset;
        height: 435px;
    }
    .brj hr {
        width: unset;
        height: unset;
    }
    button{
    
        bottom: 16px;
    left: 37px;
    }
    .die{
        height: unset;
    }
    iframe{
        width: 227px;
        height: 259px;
        padding: unset;
        margin: unset;
    }
.monti{
    margin: auto;
    padding: 20px 0;
    width: unset;
}
.kalu
{
    width: 100%;
    height: 350px;
}
.good
{
    width: unset;
    height: unset;
    padding: unset;
}
.hero
{

    bottom: 38px;
    left: 108px;

}
.geet
{
    bottom: 38px;
    left: 13px;

}
    .ok 
    {
     left: 122px;
     bottom: -16px;
    }
}
